@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal italic;
}

body,
html,
*, *>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test {
    font-family: 'Montserrat', sans-serif;
    color: red;
}