// variables and mixins
@use './_vars.scss';
@use './mixins' as *;

// fonts
@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal italic;
}

// some reset styles
body,
html,
*, *>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button,
input,
textarea {
    background: transparent;
    outline: none;
    border: none;
}

// basic style
.container {
    padding: 0 15px;
    margin: 0 auto;
}

.footer {
    margin-top: auto;
}
