@use '../core/vars';

@mixin bg-gradient-img($gradient, $image1: null, $image2: null) {
    @if $image1 != null and $image2 != null {
        background-image: $gradient, url(#{$image1}), url(#{$image2});
    } @else if $image1 != null {
        background-image: $gradient, url(#{$image1});
    } @else if $image2 != null {
        background-image: $gradient, url(#{$image2});
    } @else {
        background-image: $gradient;
    }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin gradient-border(
    $radius: 15px,
    $border-size: 3px,
    $border-color: vars.$white100,
    $inner-bg: transparent
    ) {
    position: relative;
    box-sizing: border-box;
    z-index: 0;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        content: "";
        background: $border-color;
        border-radius: $radius;
        z-index: -2;
        width: 100%;
        height: 100%;
    }

    &::after {
        content: "";
        background: $inner-bg;
        border-radius: $radius;
        z-index: -1;
        width: calc(100% - $border-size * 2);
        height: calc(100% - $border-size * 2);
    }
}

@mixin text-style-stroke($color: vars.$black100, $size, $weight, $stroke-color, $stroke-width) {
    font-size: $size;
    font-weight: $weight;
    color: transparent;
    -webkit-text-stroke: $stroke-width $stroke-color;
    // Firefox
    text-shadow: 
    0 0 0 $stroke-color;
}