$black100: #000;
$white100: #fff;
$yellow100: #FFF438;
$darkBlue: #0E2541;
$greenLinear: linear-gradient(180deg,rgba(102, 228, 43, 1) 0%, rgba(72, 198, 13, 1) 100%);
$lightGreenLinear: linear-gradient(180deg,rgba(119, 255, 54, 1) 0%, rgba(79, 216, 14, 1) 100%);
$darkBlueGradient: linear-gradient(0deg,rgba(4, 27, 55, 1) 0%, rgba(0, 0, 0, 0) 100%);
$lightBlueGradient: linear-gradient(90deg,rgba(17, 70, 205, 1) 0%, rgba(78, 163, 245, 1) 100%);
$borderGradient: linear-gradient(90deg,rgba(14, 35, 73, 1) 0%, rgba(30, 56, 87, 1) 100%);;
