@use '../../core/vars';
@use '../../core/mixins' as *;

.accordeon-section {
    .container {

    }

    &__content {
        padding: 38px 0 73px;

        @media(min-width: 768px) {
            padding: 65px 0 73px;
        }

        @media(min-width: 1440px) {
            max-width: 1440px;
            margin: 0 auto;
            display: grid;
            gap: 24px;
            justify-content: center;
            grid-template-columns: 1fr 2fr;
        }

        @media(min-width: 1920px) {
            max-width: none;
            grid-template-columns: 1fr 3fr;
            padding: 75px 0 73px;
            gap: 20px;
        }
    }

    &__title {
        margin-bottom: 36px;
        text-transform: uppercase;
        color: vars.$white100;
        font-size: 28px;
        font-weight: 800;
        line-height: 1.2;

        @media(min-width: 768px) {
            font-size: 48px;
            margin-bottom: 50px;
        }

        @media(min-width: 1024px) {
            text-align: center;
        }

        @media(min-width: 1440px) {
            font-size: 36px;
            margin: 0;
            text-align: left;
        }

        @media(min-width: 1920px) {
            font-size: 48px;
        }
    }
}
